# App Settings
APP_ENV=development
APP_LOG_LEVEL=debug
PORT=8080
SERVER_BASE_URL=http://localhost:8080

# Database Settings
DB_USER=user
DB_PASSWORD=password
DB_NAME=shorturl
DB_PORT=5432
DB_DSN=postgres://user:password@localhost:5432/shorturl?sslmode=disable
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=5

# Redis Settings
REDIS_PORT=6379
REDIS_CACHE_URL=redis://localhost:6379/0
REDIS_STREAM_URL=redis://localhost:6379/1
